* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.search-input {
  color: black;
  padding-left: 20px;
  padding-right: 10px;
  position: relative;
  border: 1px solid white;
  border-radius: 50px;
  height: 50px;
}

.search-icon {
  border-radius: 50px;
  font-size: 25px;
  position: absolute;
  top: 28px;
  right: 80px;
}

.tittle {
  font-size: 92px;
  color: #ffffff;
  font-family: "Reey";
  filter: drop-shadow(0px 5px 2.5px rgba(84, 82, 79, 0.22));
}

.subtitle {
  font-size: 23px;
  letter-spacing: 4px;
  color: #ffffff;



}

.body-text {
  font-size: 21px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  
}
.img-2{
  position: absolute;
  top: 28em !important;
  left: 33em;
}
.img-3{
  height: 390px;
  position: absolute;
  top:30em;
  right:-3em;
}
.text-2 {
  font-size: 22px;
  letter-spacing: 1px;
  color: #000;
  font-weight: 400;

  
}
.left-right{
  width: 100%;
  position:absolute;
  top:-10em;
  left: 1em;
  z-index: 1;

}
.pizza{
  height:650px;
  position: absolute;
  top: 20em;
  left: 32em;
  z-index: 1;
}

.pizza-half{
  height: 300px;
  position: absolute;
  top: 43em;
  left: 23em;
  z-index: 1;
}
.leaf-3{
  height: 650px;
  position: absolute;
  top: -50px;
  z-index: 1;
}
.footer-title{
  font-size: 30px;
}
.footer-icon{
  font-size:25px;
  color: white;
  background-color: #2f2f2f;
}
.icon-back{
  height: 40px;
  text-align: center;
  width: 40px;
  padding-top: 1px;
  margin: 0px 5px 0px 5px ;
  border-radius: 100px;
  padding-bottom: 20px;
}
.footer-icon:hover{
  color:skyblue;
  background-color:violet;
  box-shadow:
  inset 0 -3em 3em rgba(173, 173, 173, 0.3),
  0 0 0 3px white,
  0.5em 0.5em 1em rgba(20, 1, 1, 0.6);

}










/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
  .search-icon {
    border-radius: 50px;
    font-size: 25px;
    position: absolute;
    top:9em;
    right:0em !important;
    left: 6em !important;
  }
  #italian-food-title{
   margin-top: 20px;
   width:300px !important;
  }
  .noodles{
    width:330px;
    height: 330px;
    padding: 0px;
    

 
  }
  .img-2{
    height: 200px;
    position: absolute;
    top:42em !important;
    left:0em;
    

  }
  .img-3{
   
    display:none;
  }
  #lorem-dolor-text{
    height: 100px;
    width: 90%;
  }
  #card-1{
    text-align: center;
    width:300px; 
    height:300px;
    margin-left:20px;
  }
  #card-2{
    text-align: center;
    width:300px; 
    height:300px;
    margin-left:20px;
  }
  #card-3{
    text-align: center;
    width:300px; 
    height:300px;
    margin-left:20px;
  }
  #discount-img1{
    width: 400px !important;
    height: 385px !important;
    margin-left: 6px !important;
   }
   .dis-btn{
    padding: 10px 52px !important;
    margin-left: 70px !important;
   
   }
   .order-change div:first-child {
    order: 2;
 }
  .content-1{
    padding-left:40px;
  }
  .more{
    text-align: center;
  }
  .january{
   margin-left: -60px;
  
  }
  .readmore{
    padding:10px 30px !important;
    margin-left:105px !important;
  }
  .left-right{
   display:none;
  
  }
  
  .pizza{
    height:368px !important;
    position: absolute;
    top: 23em !important;
    left: 1em !important;
    z-index: 1;
  }
  
  .pizza-half{
    height: 160px !important;
    position: absolute;
    top: 35em !important;
    left: -2em !important;
    z-index: 1;
  }
  .lorem-ipsum{
    margin-left: 5px;
    margin-top: -77px;
    padding: 5px 0px 0px 5px;
    
  }
  .lorem-text{
      font-size:16px !important;
      line-height: 26px !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
  }
  .food-top{
      font-size: 14px;
      letter-spacing: 1px;
      color: #000;
      font-weight: 400; 
  }
  .footer{
    text-align: center;
  }
  .cd-1{
    text-align: center;
  }
  
}












 @media only screen and (min-width: 600px) and (max-width: 768px) {
  .search-icon {
    border-radius: 50px;
    font-size: 25px;
    position: absolute;
    top: 0em;
    right: 0em;
  }
  #italian-food-title{
    margin-top: 20px;
    width:480px !important;
   }
   .noodles{
     width:380px;
     height: 380px;
     padding: 0px;
     margin-bottom: 1px !important;
     margin-top: 1px !important;
     
 
  
   }
   .img-2{
     height: 210px;
     position: absolute;
     top:38em !important;
     left:0em;
     
 
   }
   .img-3{
    
     display:none;
   }
   #lorem-dolor-text{
     height: 88px;
     width: 88%;
   }
   .lorem-bottom{
   
      font-size: 18px;
      letter-spacing: 1px;
      color: #000;
      font-weight: 400;
   }
   #card-1{
     text-align: center;
     width:300px; 
     height:300px;
     margin-left:20px;
   }
   #card-2{
     text-align: center;
     width:300px; 
     height:300px;
     margin-left:20px;
   }
   #card-3{
     text-align: center;
     width:300px; 
     height:300px;
     margin-left:20px;
   }
   #discount-img1{
    width: 490px;
    height: 490px;
    margin-bottom: -80px !important;
    margin-left: 27px;
   }
   .discount-text{
    margin-top: 9px !important;
    margin-bottom: 13px !important;
    padding-left: 36px;
    font-size: 44px;
   }
   .dis-text-2{
    font-size: 20px;
  letter-spacing: 1px;
  color: #000;
  font-weight: 400;
  margin-left: 73px !important;
   }
   .dis-btn{
    padding: 10px 52px !important;
    margin-left: 115px;
   
   }
   .order-change div:first-child {
      order: 2;
   }
   .content-1{
     padding-left:40px;
   }
   .more{
     text-align: center;
   }
   .january{
    margin-left: -60px;
   
   }

   .readmore{
     padding:10px 30px !important;
     margin-left: 165px !important;
     margin-bottom: 20px !important;
   }
   .left-right{
    display:none;
   
   }
   
   .pizza{
     height:418px;
     position: absolute;
     top: 22em ;
     left: 9em ;
     z-index: 1;
   }
   
   .pizza-half{
     height: 200px !important;
     position: absolute;
     top: 36em ;
     left: 4em !important;
     z-index: 1
   }
   .lorem-ipsum{
     margin-left: 67px !important;
     margin-top: -59px !important;
     padding-top: 13px !important;
     padding-bottom: 5px !important;
     
   }
   .lorem-text{
       font-size:22px !important;
       line-height: 0px;
   }
   .food-top{
    font-size: 16px;
    letter-spacing: 1px;
   text-align: center;
    color: #000;
    font-weight: 400; 
}
   .footer{
     text-align: center;
   }
   .cd-1{
     text-align: center;
   }
}  











@media only screen and (min-width: 768px) and (max-width: 992px) {
  .search-icon {
    border-radius: 50px;
    font-size: 25px;
    position: absolute;
    top: 1em !important;
    right: 3em !important;
  }
  #italian-food-title{
    margin-top: 20px;
    width:650px !important;
   }
   .noodles{
     width:450px;
     height: 450px;
     padding: 0px;
     margin-bottom: 1px !important;
     margin-top: 1px !important;
     
 
  
   }
   .img-2{
     height: 225px;
     position: absolute;
     top:44em !important;
     left:1em;
     
 
   }
   .img-3{
    
     display:none;
   }
   #lorem-dolor-text{
     height: 88px;
     width: 88%;
   }
   .lorem-bottom{
   
      font-size: 18px;
      letter-spacing: 1px;
      color: #000;
      font-weight: 400;
   }
   #card-1{
     text-align: center;
     width:300px; 
     height:300px;
     margin-left:20px;
   }
   #card-2{
     text-align: center;
     width:300px; 
     height:300px;
     margin-left:20px;
   }
   #card-3{
     text-align: center;
     width:300px; 
     height:300px;
     margin-left:20px;
   }

   .title-3-text{
   padding-left:133px !important;
   }


   #discount-img1{
    width: 500px;
    height: 500px;
    margin-bottom: -80px !important;
    margin-left: 77px;
   }
   .discount-text{
    margin-top: 9px !important;
    margin-bottom: 13px !important;
    padding-left: 100px;
    font-size: 44px;
   }
   .dis-text-2{
    font-size: 20px;
  letter-spacing: 1px;
  color: #000;
  font-weight: 400;
  margin-left: 111px !important;
   }
   .dis-btn{
    padding: 10px 52px !important;
    margin-left: 128px !important;
   
   }
   #discount-img2{
    width: 500px;
    height: 500px;
    margin-bottom: -20px !important;
    margin-left: 77px;
   }
   /* .order-change div:first-child {
      order: 2;
   } */
   .content-1{
     padding-left:40px;
   }
   .more{
     text-align: center;
   }
   .january{
    margin-left: -60px;
   
   }

   .readmore{
     padding:10px 30px !important;
     margin-left: 165px !important;
     margin-bottom: 20px !important;
   }
   .left-right{
    display:none;
   
   }
   
   .pizza{
     height:475px;
     position: absolute;
     top: 21em ;
     left: 13em ;
     z-index: 1;
   }
   
   .pizza-half{
     height: 222px !important;
     position: absolute;
     top: 38em ;
     left: 6em !important;
     z-index: 1
   }
   .lorem-ipsum{
     margin-left: 67px !important;
     margin-top: -59px !important;
     padding-top: 13px !important;
     padding-bottom: 5px !important;
     
   }
   .lorem-text{
       font-size:22px !important;
       line-height: 0px;
   }
   .food-top{
    font-size: 16px;
    letter-spacing: 1px;
   text-align: center;
    color: #000;
    font-weight: 400; 
}
   .footer{
     text-align: center;
   }
   .cd-1{
     text-align: center;
   }
}  

/* MEDIA QUERY */